*{
    padding: 0px;
    margin:0;
    background-color: pink;
}
.wrapper{
    margin: 7% auto;
    width: 900px;
    height: 500px;
    border-radius: 15px;
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.slider{
    width: 730px;
    height: 500px;
    border-radius: 5px;
    margin: 60px auto;
    background-color: beige;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}
img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 1px solid ;
    margin-bottom: 20px;

}


.about{
    width: 500px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    background-color: beige;
}
button{
    height: 50px;

}
.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    background-color: beige;
   
}
  
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    background-color: beige;
}
  
.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    background-color: beige;
}
.info{
    padding-right: 3px;
    padding-left: 3px;
    background-color: beige;
}
